trigger:
  branches:
    include:
      - main

parameters:
  - name: environment
    displayName: Target environment
    type: string
    default: qa
    values:
      - qa
      - prod

variables:
  workingDir: 'terraform'

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Validate
  jobs:
  - job: TerraformValidate
    steps:
    - task: TerraformInstaller@0
      inputs:
        terraformVersion: '1.6.6'

    - script: |
        cd $(workingDir)
        terraform init -input=false
        terraform fmt -check
        terraform validate
      displayName: Terraform init/validate
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)

- stage: Plan
  dependsOn: Validate
  jobs:
  - job: TerraformPlan
    steps:
    - task: TerraformInstaller@0
      inputs:
        terraformVersion: '1.6.6'

    - script: |
        cd $(workingDir)
        TFVARS="${{ parameters.environment }}.tfvars"
        terraform init -input=false
        terraform plan -input=false -var-file=$TFVARS -out=tfplan
      displayName: Terraform plan
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)

    - publish: $(System.DefaultWorkingDirectory)/terraform/tfplan
      artifact: tfplan


- stage: Deploy_Prod
  condition: eq('${{ parameters.environment }}', 'prod')
  dependsOn: Plan
  jobs:
  - job: ApprovalAndApplyProd
    steps:
    - task: TerraformInstaller@0
      inputs:
        terraformVersion: '1.6.6'
    - script: |
        cd $(workingDir)
        terraform apply -input=false -auto-approve tfplan
      displayName: Terraform apply (Prod)
      env:
        ARM_CLIENT_ID: $(ARM_CLIENT_ID)
        ARM_CLIENT_SECRET: $(ARM_CLIENT_SECRET)
        ARM_TENANT_ID: $(ARM_TENANT_ID)
        ARM_SUBSCRIPTION_ID: $(ARM_SUBSCRIPTION_ID)