trigger:
  branches:
    include:
      - main

parameters:
  - name: environment
    displayName: Target environment
    type: string
    default: qa
    values:
      - prod

variables:
  terraformVersion: '1.6.6'
  workingDir: 'terraform'

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Validate
  displayName: Validate Terraform
  jobs:
  - job: TerraformValidate
    steps:
    - script: |
        sudo apt-get update -y
        sudo apt-get install -y unzip
        curl -fsSL https://releases.hashicorp.com/terraform/${terraformVersion}/terraform_${terraformVersion}_linux_amd64.zip -o tf.zip
        sudo unzip tf.zip -d /usr/local/bin
        terraform -version
      displayName: Install Terraform

    - task: AzureCLI@2
      displayName: Terraform init, fmt, validate
      inputs:
        azureSubscription: 'VS Professional Subscription-Nitin Pradhan'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e
          cd $(workingDir)
          terraform init -input=false
          terraform fmt -check
          terraform validate

- stage: Plan
  displayName: Plan
  dependsOn: Validate
  jobs:
  - job: TerraformPlan
    steps:
    - task: AzureCLI@2
      displayName: Terraform plan
      inputs:
        azureSubscription: 'VS Professional Subscription-Nitin Pradhan'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e
          cd $(workingDir)
          ENV=$(environment)
          TFVARS="$ENV.tfvars"
          terraform init -input=false
          terraform plan -input=false -var-file=$TFVARS -out=tfplan

    - publish: $(System.DefaultWorkingDirectory)/terraform/tfplan
      artifact: tfplan

# - stage: Deploy_QA
#   displayName: Deploy QA
#   condition: eq(parameters.environment, 'qa')
#   dependsOn: Plan
#   jobs:
#   - job: ApplyQA
#     steps:
#     - task: AzureCLI@2
#       displayName: Terraform apply (QA)
#       inputs:
#         azureSubscription: 'VS Professional Subscription-Nitin Pradhan'
#         scriptType: bash
#         scriptLocation: inlineScript
#         inlineScript: |
#           set -e
#           cd $(workingDir)
#           terraform apply -input=false -auto-approve tfplan

- stage: Deploy_Prod
  displayName: Deploy Prod
  condition: eq(parameters.environment, 'prod')
  dependsOn: Plan
  jobs:
  - job: ApprovalAndApplyProd
    steps:
    - task: ManualValidation@0
      #displayName: Approval: 'Proceed to Prod?'
      inputs:
        instructions: 'Review tfplan artifact and approve to deploy to Prod.'
        notifyUsers: vinayak.kadam@globant.com
    - task: AzureCLI@2
      displayName: Terraform apply (Prod)
      inputs:
        azureSubscription: 'VS Professional Subscription-Nitin Pradhan'
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          set -e
          cd $(workingDir)
          terraform apply -input=false -auto-approve tfplan
